<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Маршрут</title>
</head>
<body>
<div layout:fragment="content">
    <form method="POST" th:action="@{'/routes/add/' + ${#authentication.getPrincipal().getUserId()}}">
        <h3 class="mt-3 mb-3" align="center">Регистрация</h3>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="cityFrom" type="text" class="form-control" id="cityFrom" placeholder="Введите имя"
                           required>
                    <label for="cityFrom">Откуда</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="cityTo" type="text" class="form-control" id="cityTo"
                           placeholder="Введите email" required>
                    <label for="cityTo">Куда</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="name" type="text" class="form-control" id="name" placeholder="Введите логин"
                           required>
                    <label for="name">Номер поезда</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="date" type="date" class="form-control" id="date" placeholder="Введите логин"
                           required>
                    <label for="date">Дата</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <label for="type" class="form-label">Вагон</label>
                <select class="form-select" name="type" id="type" required>
                    <option selected value="default">Тип вагона</option>
                    <option th:each="type : ${typeCarriage}"
                            th:value="${type}"
                            th:text="${type.getTypeName()}"></option>
                </select>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn btn-success">Добавить</button>
            <br>
            <button type="button" class="btn btn btn-success" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>