<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Маршруты</title>
</head>
<body>
<div layout:fragment="content">
    <form method="GET">
        <table class="table table-bordered table-sm mt-3">
            <thead>
            <tr>
                <th scope="col">Откуда</th>
                <th scope="col">Куда</th>
                <th scope="col">Дата</th>
                <th scope="col">Тип вагона</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r : ${routes}">
                <td th:text="${r.getCityFrom()}"></td>
                <td th:text="${r.getCityTo()}"></td>
                <td th:text="${r.date}"></td>
                <td th:text="${r.getTrain().getCarriages().get(0).getType().getTypeName()}"></td>
                <td>
                    <a title="подробности" class="btn btn-sm btn-info"
                       th:href="'/routes/details/' + ${r.getId()}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a title="обновить" class="btn btn-sm btn-upd"
                       th:href="'/routes/update/' + ${r.getId()}">
                        <i class="fa fa-spin fa-refresh" aria-hidden="true"></i>
                    </a>
                    <a title="удалить" class="btn btn-sm btn-danger"
                       th:href="'/routes/delete/' + ${r.getId()}"
                       onclick="return confirm('Удалить товар и историю?')">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                    <a title="оповестить" class="btn btn-sm btn-danger"
                       th:href="'/routes/checkall'">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <br>
</div>
</body>
</html>