<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Маршруты</title>
</head>
<body>
<div layout:fragment="content">
    <form method="GET">
        <table class="table table-bordered table-sm mt-3">
            <thead>
            <tr>
                <th scope="col">Вагон</th>
                <th scope="col">Всего</th>
                <th scope="col">H</th>
                <th scope="col">Ц</th>
                <th scope="col">В</th>
                <th scope="col">Ц</th>
                <th scope="col">БН</th>
                <th scope="col">Ц</th>
                <th scope="col">БВ</th>
                <th scope="col">Ц</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="f : ${freePlaceInfoDtos}">
                <td th:text="${f.getCarriageNumber()}"></td>
                <td th:text="${f.getAllSeats()}"></td>
                <td th:text="${f.getCountPlacesMap().get(T(org.example.rzdscanseats.model.enums.SeatType).BOTTOM)}"></td>
                <td th:text="${f.getPricePlacesMap().get(T(org.example.rzdscanseats.model.enums.SeatType).BOTTOM)}"></td>
                <td th:text="${f.getCountPlacesMap().get(T(org.example.rzdscanseats.model.enums.SeatType).TOP)}"></td>
                <td th:text="${f.getPricePlacesMap().get(T(org.example.rzdscanseats.model.enums.SeatType).TOP)}"></td>
                <td th:text="${f.getCountPlacesMap().get(T(org.example.rzdscanseats.model.enums.SeatType).BOTTOM_SIDE)}"></td>
                <td th:text="${f.getPricePlacesMap().get(T(org.example.rzdscanseats.model.enums.SeatType).BOTTOM_SIDE)}"></td>
                <td th:text="${f.getCountPlacesMap().get(T(org.example.rzdscanseats.model.enums.SeatType).TOP_SIDE)}"></td>
                <td th:text="${f.getPricePlacesMap().get(T(org.example.rzdscanseats.model.enums.SeatType).TOP_SIDE)}"></td>
            </tr>
            </tbody>
        </table>
    </form>
    <br>
    <hr>
    <p>Ц - цена</p>
    <p>Н - нижнее</p>
    <p>В - верхнее</p>
    <p>БН - боковое нижнее</p>
    <p>БВ - боковое верхнее</p>
    <p>ПН - последнее нижнее</p>
</div>
</body>
</html>